<!doctype html>
<html>
<head>
	<link type = "text/css" rel = "stylesheet" href = "../style.css">
	<title>Stock Quotes</title>
</head>
<body>
	<h1> Pick a Stock, any Stock </h1>
	<div id = "stockBox" >
		<%= yield %>
	</div>

</body>
</html>

