<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tick, Tick, Tick</title>
</head>

<body>
  <h1>Let's see Paul Allen's card.</h1>

  <p>Look at that subtle off-white coloring. The tasteful thickness of it. Oh, my God. It even has a watermark.</p>

  <%= yield %>

</body>

</html>