<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stock Lab</title>
</head>
<body>
<h1>Stock Rates</h1>
<h3>Enter in a ticker to see the current market price.</h3>
<%= yield %>
</body>
</html>
