<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title> Welcome to Sinatra</title>
  </head>
  <body>
Hello from the layout.erb file
<%= yield %>
Stock price is..
</body>
</html>