<!DOCTYPE html>
<html>
<head>
  <title>Stock Lab</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <section id='quotes'>
    <div id='result'>
      <%= yield %>
    </div>
  </section>
</body>
</html>
