<h1>Stock Price Checker</h1>

<form action="/get_price" method="get">
  <input type="text" name="ticker">
  <button>Get price!</button>
</form>

<% def Stock.get_price(ticker) %>
    <% @price = YahooFinance::get_quotes(YahooFinance::StandardQuote, ticker)[ticker].lastTrade %>
<% end %>

<p>Current price for <%= @ticker %> is <%= @price %> per share.</p>
