<h1>Stock Ticker</h1>

<form action="/quote" method="get">
  <input type="text" name="ticker">
  <button>Get Price</button>
</form>

<% if @ticker %>
  <p>The last trade price of <%= @ticker %> was $<%= @result %>
    </p>
<% end %>