<h1>Enter a Stock Symbol</h1>

<form action="/" method="get">
  <input type="text" name="ticker">
  <button>Get price!</button>
</form>

<p>The current stock price of <%= @ticker %> is <%= @result %>.</p>