<h1>Stock Price Checker</h1>

<form action="/get_price" method="get">
  <input type="text" name="ticker">
  <button>Get price!</button>
</form>

<% if @ticker %>
<p>Current price for <%= @ticker %> is <%= @price %> per share.</p>
<% end %>

