
<form action = "/" method = "get">
	<input type = "text" name = "ticker"> </input>
	<button> Get Quote! </button>
</form>

<% if @ticker && @ticker != "" %>	
	<div id = "result">
		<p> The value of this stock is:
			<%= YahooFinance::get_quotes(YahooFinance::StandardQuote, @ticker)[@ticker].lastTrade.round(2) %> 
		</p>
	</div>
<% end %>
