<h1>Tweets</h1>
<div class='user-tweets'>
  <h3> Tweets from <%= @user %></h3>
  <% @tweets.each_with_index do |tweet, i| %>
    <div class='tweet'>
    <% break if i > 19%>
      <b>Tweet <%= i+1 %></b>: <%= tweet.text %>
    </div>
    <% end %>
</div>
