#page {
	width: 100%;
	height: 900px;
	background: url(http://i.imgur.com/OFKpu6d.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;

}
.main-color {
	color: #27ae60;
}

.boxy {
	background-color: rgba(0,0,0,0.4);
	padding: 2%;
	margin: 0 auto;
}

.boxy h1, h2, td {
	color: white;
}

.boxy h1 small {
	color: #ccc;
}

p {
	font-size: 18px;
}

td {
	font-size: 18px;
}

.container .jumbotron {
	border-radius: 2px;
	border: 1px solid #8e44ad;
}

.jumbotron {
	background-color: rgba(155,89,182, 0.9);
	color: #FFF;
}

.jumbotron p {
	color: #CECECE;
}

.btn-orange {
	background-color: #e67e22;
	border-color: #d56d11;
	color: #fff;
}

.btn-orange:hover {
	background-color: #d56d11;
	color: #efefef;
}

.table {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.page-header {
	border-bottom: none;
}

tr {
	transition: background-color 0.4s ease;
}

tr:hover {
	background-color: rgba(255,255,255,0.1)
}
